@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to Library Management System</h1>
    <hr />
    <p><a asp-controller="Books" asp-action="Index">Books Page</a></p>
</div>
